body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px;
  width: 80vw;
  height: 80vw;
  border: 1px solid black;
}

.point {
  display: flex;
  border: 1px solid darkslategray;
  border-radius: 10%;
  width: 21%;
  height: 21%;
  font-size: 5vw;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 240px) {
  .point {
    font-size: 24pt;
  }
}
